@charset "UTF-8";
/**
 * 
 * @authors guoqun.zhang (guoqun.zhang@qunar.com)
 * @date    2015-05-26 17:29:53
 * @version 0.0.1
 */
/* 初始化样式 */
body, ul, li { margin: 0; padding: 0;}
ol, ul { list-style: none;}
.clearfix { content: ''; display: block; clear: both;}
.clearfix:after { zoom:1;}


.carousel { width: 750px; height: 300px; margin: 0 auto; overflow: hidden; position: relative;}
.carousel_img { width: 3000px;/*js控制计算宽度*/ height: 300px;}
.carousel_img li { width: 750px; height: 300px; float: left; background: #ccc;}
.carousel_btn { width: 100%; position: absolute; bottom: 10px; text-align: center;}
.carousel_btn li { width: 15px; height: 15px; border-radius: 50%; display: inline-block; background: green;}
